<h1>Listado de Libros</h1>

<%= form_with url: books_path, method: :get, local: true do |f| %>
  <%= f.label :query, "Buscar por título, autor o género" %>
  <%= f.text_field :query, value: params[:query] %>
  <%= f.submit "Buscar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Género</th>
      <th>ISBN</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.isbn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @books %>
